html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
  
  font-family: 'Lato', sans-serif;
}

h1,h2,h3,h4,h5,h6 {
  font-family: 'Josefin Sans', sans-serif;

  &:not(:first-child) {
    margin-top: 1rem;
  }

  &>a {
    color: unset;
  }
}
ul,ol {
  margin-left: 2rem;
  margin-bottom: 1rem;
  & ul,ol {
    margin-bottom: 0rem;
  }
}

a {
  color: rgb(var(--v-theme-link));
  font-weight: 600;
  text-decoration: none;
}

blockquote {
  border-left: rgb(var(--v-theme-primary)) .2rem solid;
  margin-left: 2rem;
  padding-left: .5rem;
}