html,body, #__nuxt, #__layout{
  height:100%!important;
  width: 100%!important;
}

h1,h2,h3,h4,h5,h6 {
  &:not(:first-child) {
    margin-top: 1rem;
  }

  &>a {
    color: unset;
  }
}
ul,ol {
  margin-left: 2rem;
  margin-bottom: 1rem;
  & ul,ol {
    margin-bottom: 0rem;
  }
}

a {
  color: rgb(var(--v-theme-link));
  font-weight: 600;
  text-decoration: none;
}